<!DOCTYPE html>
<html>
    <head>
        <title>Pravega Video Player</title>
        <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
        <style>
            video.video {
                display: grid;
                max-width: 100%;
                max-height: 90vh;
                margin: auto;
            }
        </style>
    </head>
    <body>
        <div class="video">
            <video class="video" id="video" controls muted autoplay></video>
        </div>
        <div>
            <span id="scope">{{scope}}</span>/<span id="stream">{{stream}}</span>
        </div>
        <div>
            <span id="begin">{{begin}}</span> to <span id="end">{{end}}</span>
        </div>
        <div id="timestamp"></div>
    </body>
    <script src="static/hls-js.js"></script>
</html>
