enabled: true
image:
  # Please change the value accordingly before deployment
  repository: "gstreamer:pravega-dev"
  pullPolicy: "Always"
appParameters:
  # See available application parameters in https://github.com/pravega/gstreamer-pravega/blob/master/python_apps/rtsp-camera-to-pravega.py
  BUFFER_SIZE_MB: "10.0"
  GST_DEBUG: "WARNING,rtspsrc:INFO,rtpbin:INFO,rtpsession:INFO,rtpjitterbuffer:INFO,h264parse:WARN,qtmux:FIXME,fragmp4pay:INFO,timestampcvt:DEBUG,pravegasink:DEBUG"
appParametersStatefulSet:
  ALLOW_CREATE_SCOPE: "false"
  CAMERA_PROTOCOLS: "tcp"
  pravega_client_tls_cert_path: "/etc/ssl/certs/ca-certificates.crt"
healthCheck:
  enabled: true
  idleSeconds: 30
logPersistentVolumeClaimName: data-project
pravega:
  retentionPolicy: {}
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 200m
    memory: 256Mi
useGStreamerOperator: false
global:
  camera:
    path: "/cam/realmonitor"
  pravega:
    stream: "camera1"
    numStreams: 1
